<ul id="categoryNavigationMenu">
    <li>
        <a class="category-item" th:href="@{/resources/texts}"
           th:classappend="${menuCategory == T(metacampus2.model.MenuCategory).RESOURCES ?
                    'selected' : ''}">
            Resources
        </a>
    </li>
    <li>
        <a class="category-item" th:href="@{/spaces/text-panels}"
           th:classappend="${menuCategory == T(metacampus2.model.MenuCategory).SPACES ?
                    'selected' : ''}">
            Spaces
        </a>
    </li>
    <li>
        <a class="category-item" th:href="@{/metaverses}"
           th:classappend="${menuCategory == T(metacampus2.model.MenuCategory).METAVERSES ?
                    'selected' : ''}">
            Metaverses
        </a>
    </li>
</ul>
