<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Classrooms</title>
</head>
<body>
    <main>
        <div class="container-fluid table-container">
            <a class="btn btn-outline-primary create-entity-button" role="button" th:href="@{/classrooms/new}">
                Create classroom
            </a>

            <table class="table table-striped caption-top entities-table">
                <caption class="fs-5">Classrooms:</caption>
                <thead>
                <tr>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col">Number</th>
                    <th scope="col">Metaverse</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="classroom, iterStat : ${classrooms}">
                    <th scope="row" th:text="${iterStat.count}"></th>
                    <td th:text="${classroom.number}"></td>
                    <td th:text="${classroom.metaverse.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>