<div class="border border-top my-4"></div>

<div class="mb-3">
    <span class="fs-5">Location</span>
</div>

<div class="row mb-3">
    <label for="floorNumber" class="col-form-label col-2">Floor number</label>
    <div class="col">
        <input id="floorNumber" class="form-control" type="number" step="1"
               name="location.floorNumber" required>
    </div>
</div>

<div class="row mb-3">
    <label for="xPosition" class="col-form-label col-2">X Position</label>
    <div class="col">
        <input id="xPosition" class="form-control" type="number" step="1"
               name="location.xPosition" required>
    </div>
</div>

<div class="row mb-3">
    <label for="zPosition" class="col-form-label col-2">Z Position</label>
    <div class="col">
        <input id="zPosition" class="form-control" type="number" step="1"
               name="location.zPosition" required>
    </div>
</div>