<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<main>
    <div class="container-fluid table-container">
        <a class="btn btn-outline-primary create-entity-button" role="button" th:href="@{/people/new}">
            Create person
        </a>

        <table class="table table-striped caption-top entities-table">
            <caption class="fs-5">People:</caption>
            <thead>
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Role</th>
                <th scope="col">Cellphone</th>
                <th scope="col">Office phone</th>
                <th scope="col">Office</th>
                <th scope="col">Metaverse</th>
                <th scope="col">Location</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person, iterStat : ${people}">
                <th scope="row" th:text="${iterStat.count}"></th>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.role}"></td>
                <td th:text="${person.cellphone}"></td>
                <td th:text="${!person.officePhone.isEmpty() ? person.officePhone : '-'}"></td>
                <td th:text="${person.office != null ? person.office.number : '-'}"></td>
                <td th:text="${person.metaverse.name}"></td>
                <td th:text="'floor: ' + ${person.getCoordinate.getY}
                    + ', x position: ' + ${person.getCoordinate.xPosition}
                    + ', z position: ' + ${person.getCoordinate.zPosition}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>