<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Person form</title>
</head>
<body>
<main>
    <div class="container-fluid form-container">
        <form th:href="@{/people/new}" method="post">
            <div class="row justify-content-center">
                <div class="col-6 border border-1 border-primary rounded-3 px-5 py-5">
                    <div class="mb-5">
                        <span class="fs-4 text-body-secondary ">New person:</span>
                    </div>

                    <div class="row mb-3">
                        <label for="firstName" class="col-form-label col-2">First name</label>
                        <div class="col">
                            <input id="firstName" class="form-control" type="text" name="firstName" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="lastName" class="col-form-label col-2">Last name</label>
                        <div class="col">
                            <input id="lastName" class="form-control" type="text" name="lastName" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="role" class="col-form-label col-2">Role</label>
                        <div class="col">
                            <select id="role" class="form-select" name="role" required>
                                <option th:each="role : ${roles}"
                                        th:value="${role}" th:text="${role}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="cellphone" class="col-form-label col-2">Cellphone</label>
                        <div class="col">
                            <input id="cellphone" class="form-control" type="text" name="cellphone" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="officePhone" class="col-form-label col-2">Office phone</label>
                        <div class="col">
                            <input id="officePhone" class="form-control" type="text" name="officePhone">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="office" class="col-form-label col-2">Office</label>
                        <div class="col">
                            <select id="office" class="form-select" name="office">
                                <option value="">
                                    -
                                </option>
                                <option th:each="office : ${offices}"
                                        th:value="${office.id}"
                                        th:text="${office.number + ' - ' + office.metaverse.name}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="metaverse" class="col-form-label col-2">Metaverse</label>
                        <div class="col">
                            <select id="metaverse" class="form-select" name="metaverse" required>
                                <option th:each="metaverse : ${metaverses}"
                                        th:value="${metaverse.id}" th:text="${metaverse.name}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div th:if="${error != null}" class="mb-3">
                        <span class="error-message">Error occurred while creating a person</span>
                    </div>

                    <div class="col-2 mt-5">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>