<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Audios</title>
</head>
<body>
<main>
    <div id="mainContainer" class="container-fluid">
        <div class="row">
            <div id="categoryMenuContainer" class="col-2">
                <div th:insert="category-navigation-menu"></div>
            </div>
            <div class="col">
                <div th:insert="resources-navigation-menu"></div>

                <div class="table-container">
                    <div sec:authorize="hasRole('Role.CREATOR.name()')">
                        <a class="btn btn-outline-primary" role="button" th:href="@{/resources/audios/new}">
                            Create audio
                        </a>
                    </div>

                    <table class="table table-striped caption-top entities-table">
                        <caption class="fs-5">Audios:</caption>
                        <thead>
                        <tr>
                            <th scope="col" class="col-1">#</th>
                            <th scope="col" class="col">File</th>
                            <th scope="col" class="col">Image</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="audio, iterStat : ${audios}">
                            <th scope="row" th:text="${iterStat.count}"></th>
                            <th th:text="${audio.name}"></th>
                            <th th:text="${audio.image.name}"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>