<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Display panels</title>
</head>
<body>
<main>
    <div id="mainContainer" class="container-fluid">
        <div class="row">
            <div id="categoryMenuContainer" class="col-2">
                <div th:insert="category-navigation-menu"></div>
            </div>
            <div class="col">
                <div th:insert="spaces-navigation-menu"></div>

                <div class="table-container">
                    <div sec:authorize="hasRole('Role.CREATOR.name()')">
                        <a class="btn btn-outline-primary" role="button" th:href="@{/spaces/display-panels/new}">
                            Create display panel
                        </a>
                    </div>

                    <table class="table table-striped caption-top entities-table">
                        <caption class="fs-5">Display panels:</caption>
                        <thead>
                        <tr>
                            <th scope="col" class="col-1">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Metaverse</th>
                            <th scope="col">Coordinates</th>
                            <th scope="col">Image files</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="displayPanel, iterStat : ${displayPanels}">
                            <th scope="row" th:text="${iterStat.count}"></th>
                            <th th:text="${displayPanel.name}"></th>
                            <th th:text="${displayPanel.type}"></th>
                            <th th:text="${displayPanel.metaverse.name}"></th>
                            <th th:text="'x: ' + ${displayPanel.coordinates.x}
                                    + ', y: ' + ${displayPanel.coordinates.y}
                                    + ', z: ' + ${displayPanel.coordinates.z}"></th>
                            <th>
                                <span th:if="${displayPanel.images.isEmpty()}">-</span>
                                <span th:each="image, imageIter : ${displayPanel.images}">
                                    <span th:text="${image.name}"></span>
                                    <span th:if="${!imageIter.last}">,</span>
                                </span>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>