<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Display panel form</title>
</head>
<body>
<main>
    <div id="mainContainer" class="container-fluid">
        <div class="row">
            <div id="categoryMenuContainer" class="col-2">
                <div th:insert="category-navigation-menu"></div>
            </div>
            <div class="col">
                <div th:insert="spaces-navigation-menu"></div>

                <div class="form-container">
                    <form th:href="@{/spaces/display-panels/new}" method="post">
                        <div class="mb-5">
                            <span class="fs-4 text-body-secondary ">New display panel:</span>
                        </div>

                        <div class="row mb-3">
                            <label for="name" class="col-form-label col-2">Name</label>
                            <div class="col-4">
                                <input id="name" class="form-control" type="text" name="name" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="type" class="col-form-label col-2">Type</label>
                            <div class="col-4">
                                <select id="type" class="form-select" name="type" required>
                                    <option th:each="type : ${displayPanelTypes}"
                                            th:value="${type}"
                                            th:text="${type + ' - ' + type.description}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="metaverse" class="col-form-label col-2">Metaverse</label>
                            <div class="col-4">
                                <select id="metaverse" class="form-select" name="metaverse" required>
                                    <option th:each="metaverse : ${metaverses}"
                                            th:value="${metaverse.id}" th:text="${metaverse.name}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div th:insert="coordinates-form"></div>

                        <div th:if="${error != null}" class="mb-3">
                            <span class="error-message" th:text="${error}">Error occurred while creating a display panel</span>
                        </div>

                        <div class="col-2 mt-5">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>