<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<main>
    <div class="container-fluid table-container">
        <a class="btn btn-outline-primary create-entity-button" role="button" th:href="@{/events/new}">
            Create event
        </a>

        <table class="table table-striped caption-top entities-table">
            <caption class="fs-5">Events:</caption>
            <thead>
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date time</th>
                <th scope="col">Metaverse</th>
                <th scope="col">Location</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event, iterStat : ${events}">
                <th scope="row" th:text="${iterStat.count}"></th>
                <td th:text="${event.name}"></td>
                <td th:text="${#temporals.format(event.dateTime, 'HH:mm dd-MM-yyyy')}"></td>
                <td th:text="${event.metaverse.name}"></td>
                <td th:text="'floor: ' + ${event.getCoordinate.getY}
                    + ', x position: ' + ${event.getCoordinate.xPosition}
                    + ', z position: ' + ${event.getCoordinate.zPosition}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>