<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <main>
        <div class="container-fluid table-container">
            <table class="table table-striped caption-top entities-table">
                <caption class="fs-5">Resources:</caption>
                <thead>
                    <tr>
                        <th scope="col" class="col-1">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">Resource</th>
                        <th scope="col">Metaverse</th>
                        <th scope="col">Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:with="rowNumber=0"
                        th:each="classroom, iterStat : ${classrooms}">
                        <th scope="row" th:text="${rowNumber + iterStat.count}"></th>
                        <td>Classroom</td>
                        <td th:text="${classroom.number}"></td>
                        <td th:text="${classroom.metaverse.name}"></td>
                        <td th:text="'floor: ' + ${classroom.getCoordinate.getY}
                        + ', x position: ' + ${classroom.getCoordinate.xPosition}
                        + ', z position: ' + ${classroom.getCoordinate.zPosition}"></td>
                    </tr>

                    <tr th:with="rowNumber=${classrooms.size()}"
                        th:each="event, iterStat : ${events}">
                        <th scope="row" th:text="${rowNumber + iterStat.count}"></th>
                        <td>Event</td>
                        <td th:text="${event.name
                        + ' (' + #temporals.format(event.dateTime, 'HH:mm dd-MM-yyyy') + ')'}"></td>
                        <td th:text="${event.metaverse.name}"></td>
                        <td th:text="'floor: ' + ${event.getCoordinate.getY}
                        + ', x position: ' + ${event.getCoordinate.xPosition}
                        + ', z position: ' + ${event.getCoordinate.zPosition}"></td>
                    </tr>

                    <tr th:with="rowNumber=${classrooms.size() + events.size()}"
                        th:each="lecture, iterStat : ${lectures}">
                        <th scope="row" th:text="${rowNumber + iterStat.count}"></th>
                        <td>Lecture</td>
                        <td th:text="${lecture.name
                        + ' (' + #temporals.format(lecture.dateTime, 'HH:mm dd-MM-yyyy') + ')'}"></td>
                        <td th:text="${lecture.metaverse.name}"></td>
                        <td th:text="'floor: ' + ${lecture.getCoordinate.getY}
                        + ', x position: ' + ${lecture.getCoordinate.xPosition}
                        + ', z position: ' + ${lecture.getCoordinate.zPosition}"></td>
                    </tr>

                    <tr th:with="rowNumber=${classrooms.size() + events.size() + lectures.size()}"
                        th:each="office, iterStat : ${offices}">
                        <th scope="row" th:text="${rowNumber + iterStat.count}"></th>
                        <td>Office</td>
                        <td th:text="${office.number}"></td>
                        <td th:text="${office.metaverse.name}"></td>
                        <td th:text="'floor: ' + ${office.getCoordinate.getY}
                        + ', x position: ' + ${office.getCoordinate.xPosition}
                        + ', z position: ' + ${office.getCoordinate.zPosition}"></td>
                    </tr>

                    <tr th:with="rowNumber=${classrooms.size() + events.size() + lectures.size() + offices.size()}"
                        th:each="person, iterStat : ${people}">
                        <th scope="row" th:text="${rowNumber + iterStat.count}"></th>
                        <td>Person</td>
                        <td th:text="${person.firstName + ' ' + person.lastName + ' - ' + person.role}"></td>
                        <td th:text="${person.metaverse.name}"></td>
                        <td th:text="'floor: ' + ${person.getCoordinate.getY}
                        + ', x position: ' + ${person.getCoordinate.xPosition}
                        + ', z position: ' + ${person.getCoordinate.zPosition}"></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped caption-top entities-table">
                <caption class="fs-5">Metaverses:</caption>
                <thead>
                <tr>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col">Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="metaverse, iterStat : ${metaverses}">
                    <th scope="row" th:text="${iterStat.count}"></th>
                    <td th:text="${metaverse.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>