<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Lectures</title>
</head>
<body>
<main>
    <div class="container-fluid table-container">
        <a class="btn btn-outline-primary create-entity-button" role="button" th:href="@{/lectures/new}">
            Create lecture
        </a>

        <table class="table table-striped caption-top entities-table">
            <caption class="fs-5">Lectures:</caption>
            <thead>
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date time</th>
                <th scope="col">Classroom</th>
                <th scope="col">Lecturer</th>
                <th scope="col">Metaverse</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lecture, iterStat : ${lectures}">
                <th scope="row" th:text="${iterStat.count}"></th>
                <td th:text="${lecture.name}"></td>
                <td th:text="${#temporals.format(lecture.dateTime, 'HH:mm dd-MM-yyyy')}"></td>
                <td th:text="${lecture.classroom.number}"></td>
                <td th:text="${lecture.lecturer.firstName + ' ' + lecture.lecturer.lastName}"></td>
                <td th:text="${lecture.metaverse.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>