<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Lecture form</title>
</head>
<body>
<main>
    <div class="container-fluid form-container">
        <form th:href="@{/lecture/new}" method="post">
            <div class="row justify-content-center">
                <div class="col-6 border border-1 border-primary rounded-3 px-5 py-5">
                    <div class="mb-5">
                        <span class="fs-4 text-body-secondary ">New lecture:</span>
                    </div>

                    <div class="row mb-3">
                        <label for="name" class="col-form-label col-2">Name</label>
                        <div class="col">
                            <input id="name" class="form-control" type="text" name="name" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="dateTime" class="col-form-label col-2">Date time</label>
                        <div class="col">
                            <input id="dateTime" class="form-control" type="datetime-local" name="dateTime" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="classroom" class="col-form-label col-2">Classroom</label>
                        <div class="col">
                            <select id="classroom" class="form-select" name="classroom" required>
                                <option th:each="classroom : ${classrooms}"
                                        th:value="${classroom.id}"
                                        th:text="${classroom.number + ' - ' + classroom.metaverse.name}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="lecturer" class="col-form-label col-2">Lecturer</label>
                        <div class="col">
                            <select id="lecturer" class="form-select" name="lecturer" required>
                                <option th:each="lecturer : ${lecturers}"
                                        th:value="${lecturer.id}"
                                        th:text="${lecturer.firstName + ' ' + lecturer.lastName + ' - '
                                        + lecturer.metaverse.name}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div th:if="${error != null}" class="mb-3">
                        <span class="error-message">Error occurred while creating a lecture</span>
                    </div>

                    <div class="col-2 mt-5">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>