<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Offices</title>
</head>
<body>
<main>
    <div class="container-fluid table-container">
        <a class="btn btn-outline-primary create-entity-button" role="button" th:href="@{/offices/new}">
            Create office
        </a>

        <table class="table table-striped caption-top entities-table">
            <caption class="fs-5">Offices:</caption>
            <thead>
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col">Number</th>
                <th scope="col">Metaverse</th>
                <th scope="col">Location</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="office, iterStat : ${offices}">
                <th scope="row" th:text="${iterStat.count}"></th>
                <td th:text="${office.number}"></td>
                <td th:text="${office.metaverse.name}"></td>
                <td th:text="'floor: ' + ${office.getCoordinate.getY}
                    + ', x position: ' + ${office.getCoordinate.xPosition}
                    + ', z position: ' + ${office.getCoordinate.zPosition}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>